/* Color codes */
/* Purple: #8A2BE9; */
/* Green: #00C9BF; */
/* Light Green: #EFFAFA; */

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
}

.header{
  width: 100%;
  background: url(images/Rectangle_4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  padding-bottom: 80px;

  
}

.nav{
  display: flex;
  justify-content: end;
  padding: 20px;
  background: linear-gradient(180deg, #AB8D76 0%, rgba(171, 141, 118, 0.00) 100%);
}


.nav a {
  margin-left: 40px;
  color: #FFF;
  text-transform: uppercase;
  }

.Myportfolio h1 {
  margin-left: 100px;
  color: #FFF;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}

.pic1{
  width: 7.8125rem;
  height: 7.8125rem;
  border-radius: 7.8125rem;
  border: 4px solid rgba(255, 255, 255, 0.50);
  background: url(<path-to-image>), lightgray -16.089px -5.063px / 112.937% 112.937% no-repeat, #D9D9D9;
  flex-shrink: 0;
}

.text {margin-left: 100px; }

.text h1{
  width: 46.4375rem;
  height: 8.60806rem;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 4.8rem */
  letter-spacing: -0.08rem;
}
.text p{
  width: 46.875rem;
  height: 5.36606rem;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.04rem;
}

.text a{
  display: inline-flex;
  padding: 1.25rem 1.875rem;
  border-radius: 0.625rem;
  background: var(--brand-purple, #7054E5);
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.text a{
  color: #FFF;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.025rem;
  text-transform: uppercase;
}


.about{
  margin: auto;
  width: 100%;
  background: rgba(179,208,198,1);
  opacity: 1;
  margin-bottom: 450px;
}


.container {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.box {
  display: flex;
  position: absolute;
  top: 100px;
}


.OLIPOPI img{
background: url(<path-to-image>), lightgray 50% / cover no-repeat, #000;
flex-shrink: 0;
width: 442px;

}
.OLIPOPI h3{
width: 16.3125rem;
height: 2.875rem;
flex-shrink: 0;
color: var(--Purple-7054E5, #7054E5);
font-family: Inter;
font-size: 1.375rem;
font-style: normal;
font-weight: 800;
line-height: 150%;
}
.LUKINCOFFEE img{
  background: url(<path-to-image>), lightgray 50% / cover no-repeat, #000;
  flex-shrink: 0;
}

.LUKINCOFFEE h4{
  width: 261px;
  height: 46px;
  flex-shrink: 0;
  color: var(--Purple-7054E5, #7054E5);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.BOOKCOVER img{
  background: url(<path-to-image>), lightgray 50% / cover no-repeat, #000;
  flex-shrink: 0;
}

.BOOKCOVER h4 {
  width: 261px;
  height: 46px;
  flex-shrink: 0;
  color: var(--Purple-7054E5, #7054E5);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.SPACEFontDesign img{
  background: url(<path-to-image>), lightgray 50% / cover no-repeat, #000;
  flex-shrink: 0;
}

.SPACEFontDesign h4 {
  width: 426px;
  height: 46px;
  flex-shrink: 0;
  color: var(--Purple-7054E5, #7054E5);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.HAILANWAN img{
  width: 40rem;
  height: 23.8125rem;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat, #000;
  flex-shrink: 0;
}

.HAILANWAN h4{
  width: 247px;
  height: 36px;
  flex-shrink: 0;
  color: var(--Purple-7054E5, #7054E5);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.ARTIFICIAFLOWER img{
  width: 27.625rem;
  height: 16.4375rem;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat, #000;
  flex-shrink: 0;
}

.ARTIFICIAFLOWER h4 {
  width: 344px;
  height: 36px;
  flex-shrink: 0;
  color: var(--Purple-7054E5, #7054E5);
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.Rec209{
  width: 50.9375rem;
  height: 47.75rem;
  background: linear-gradient(90deg, #E9F1F4 60.42%, rgba(217, 217, 217, 0.00) 100%);
  flex-shrink: 0;
}

.Rec212{
  width: 38.125rem;
  height: 40.3125rem;
  border-radius: 1.875rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(203, 204, 193, 0.40);
  flex-shrink: 0;
}

.Ellpse2{
  display: flex 
  algn-items:center;
  gap: 10px;
}
.testimonials{
  color: #000;
  font-family: Noto Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.stars1 p{
  color: #000;
font-family: Noto Sans;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 1.5rem */
}

.stars1 a{
  width: 28.5rem;
  color: #000;
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.rec210 {width: 1441px;
height: 33px;
background: #000;
flex-shrink: 0;;
}

.work {
  margin-bottom: 40px;
}

.work .container {
  display: flex;
  gap: 20px;
}


.work:nth-child(even) .container {
  flex-direction: row-reverse;
}

.work-image {
  width:50%;
  height: auto;;
}

.work-text {
  width:50%;
}